@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    border-radius: 8px;
    width: 98%;
    margin: 1%;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgba(16, 16, 16, 0.8);
    color: white;
}

nav ul li{
    padding: 0 12px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand-logo img{
    width: 36px;
    padding: 8px 8px;   
}

#brand-name{
  color: #1bdbfc;
}

.container{
    min-height: 100%;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: grid;
    background-size: cover;
    justify-content: space-around;
}


.bottom{
    position: fixed;
    height: 130px;
    width: 98%;
    background-color: rgba(16, 16, 16, 0.8);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    border-radius: 8px;
    border: #101010 solid 1px;
    margin: 1%;
}

.icons{
    margin-top: 24px;
}

.icons i{
    cursor: pointer;
}

.songList h2{
    margin-top: 15px;
    margin-left: 12px;
    margin-bottom: 10px;
}

#myProgressBar{
    width: 88vw;
    cursor: pointer;
    accent-color: #1bdbfc;
    height: 10px;
}

.songitemcontainer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
} 

.songItem{
    background-color: rgba(16,16,16,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7rem;
    border-radius: 0.3rem;
    padding: 1rem;
    position: relative;
    transition: all 0.4s;
    cursor: pointer;
    margin: 12px;
}

.songlistplay{
    display: flex;
    bottom: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.songItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
}

.timestamp{
    margin: 0 12px;
}

.timestamp i{
    margin: 0 12px;
    cursor: pointer;
}

.songInfo{
    width: 98%;
    position: absolute;
    left: 5vw;
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(16, 16, 16, 0.0);
}

.music-focus:before{
    display: flex;
    background-image: url(https://source.unsplash.com/random/?night);
    height: 75vh;
    width: 100vw;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    filter: blur(100px);
    position: relative;
}

.focus-elements{
    color: aliceblue;
    font-size: larger;
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.disk{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: url(/Assets/Images/1.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 0 10px rgba(16, 16, 16, 0.2);
    animation: rotate 30s linear infinite;
}

.disk::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #101010;
}

.disk-name{
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    font-weight: 100;
    top: 115%;
    text-align: center;
}

#masterPlay{
    padding-right: 10px;
    padding-left: 10px;
}

#songCounter{
    position: absolute;
    right: 8vw;
    background-color: rgba(16, 16, 16, 0.0);
}

@media only screen and (max-width: 1000px) {

    .songItem{
        background-color: #101010;
    }

    nav{
        background-color: #101010;
    }

    .songitemcontainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 

    .songInfo{
        display: grid;
        align-items: center;
        background-color: #101010;
        color: white;
        position: absolute;
        bottom: 7vh;
        left: 5vw;
    }

    #songCounter{
        position: absolute;
        right: 8vw;
    }

    .container{
        height: 140vh;
    }

    .bottom{
        position: fixed;
        height: 13%;
        width: 96%;
        background-color: #101010;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        flex-direction: column;
        border-radius: 8px;
        margin: 2%;
        border: #101010 solid 1px;
    }

    .icons{
        margin-top: 12px;
    }

    #myProgressBar{
        margin-top: 2px;
    }
}    